<form [formGroup]="fg" (submit)="onSubmit($event)">
  <div formArrayName="deck" class = "form-group" *ngFor="let card of deck.controls; let ind = index;">

    <div [formGroupName]="ind">
      <label>Card Name:
        <input type="text" formControlName="cardname">
      </label>
      <label>Quantity:
         <input type="number" formControlName="cardquantity">
      </label>
      <label>Starter?:
        <input type="checkbox" formControlName="starter">
      </label>
      <label>Extender?:
        <input type="checkbox" formControlName="extender">
      </label>
      <label>Hand Trap?:
        <input type="checkbox" formControlName="handtrap">
      </label>
      <label>Engine Requirement?:
        <input type="checkbox" formControlName="enginereq">
      </label>
      <label>Board Breaker?:
        <input type="checkbox" formControlName="boardbreaker">
      </label>
      <label>Engine or Non-Engine:
        <select formControlName="engine_or_nonengine">
          <option *ngFor="let opt of engine" value={{opt}}>{{opt}}</option>
        </select>
      </label>
    </div>
  </div>
  <button id="newRow" (click) = "AddNewRow()">Add Another Card</button>
  <input type="submit">
</form>
<label>
  Results:
  <table>
    <tr>
      <th>Exact # of Starters in Opening</th>
      <th>%Chance of Occurrence</th>
    </tr>
    <tr *ngFor="let results of starterResults">
      <td *ngFor="let field of results">{{field}}</td>
    </tr>
  </table>
</label>

<router-outlet />
