<form [formGroup]="fg" (submit)="onSubmit($event)">
  <div formArrayName="deck" class = "form-group" *ngFor="let card of deck.controls; let ind = index;">

    <div [formGroupName]="ind" class="entryRecord">
      <label class="cardentry">Card Name:
        <input type="text" formControlName="cardname">
      </label>
      <label class="cardentry">Quantity:
         <input type="number" formControlName="cardquantity">
      </label>
      <label class="cardentry">Starter?:
        <input type="checkbox" formControlName="starter">
      </label>
      <label class="cardentry">Extender?:
        <input type="checkbox" formControlName="extender">
      </label>
      <label class="cardentry">Hand Trap?:
        <input type="checkbox" formControlName="handtrap">
      </label>
      <label class="cardentry">Engine Requirement?:
        <input type="checkbox" formControlName="enginereq">
      </label>
      <label class="cardentry">Board Breaker?:
        <input type="checkbox" formControlName="boardbreaker">
      </label>
      <label class="cardentry">Engine or Non-Engine:
        <select formControlName="engine_or_nonengine">
          <option *ngFor="let opt of engine" value={{opt}}>{{opt}}</option>
        </select>
      </label>
    </div>
  </div>
  <br />
  <button id="newRow" (click) = "AddNewRow()">Add Another Card</button>
  <input type="submit">
</form>
<br />
<label>
  Results:
  <br />
  <label>
    Starters Going First:
    <table>
      <tr>
        <th>Exact # of Starters in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of starterResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>
  <label>
    Starters Going Second:
    <table>
      <tr>
        <th>Exact # of Starters in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of starterResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>

  <br />

  <label>
    Extenders Going First:
    <table>
      <tr>
        <th>Exact # of Extenders in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of extenderResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>
  <label>
    Extenders Going Second:
    <table>
      <tr>
        <th>Exact # of Extenders in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of extenderResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>

  <br />

  <label>
    Handtraps Going First:
    <table>
      <tr>
        <th>Exact # of Handtraps in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of handtrapResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>
  <label>
    Handtraps Going Second:
    <table>
      <tr>
        <th>Exact # of Handtraps in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of handtrapResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>

  <br />

  <label>
    Engine Requirements Going First:
    <table>
      <tr>
        <th>Exact # of Engine Requirements in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of enginereqResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>
  <label>
    Engine Requirements Going Second:
    <table>
      <tr>
        <th>Exact # of Engine Requirements in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of enginereqResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
    </table>
  </label>
</label>

<router-outlet />
