<button id = "ShowG" (click)="showGloss($event.target)">Glossary of Terms</button>
<div id="glossary">
  <table>
    <tr>
      <th>Term</th>
      <th>Definition</th>
    </tr>
    <tr>
      <td>Starter</td>
      <td>A card which starts your decks main combo line</td>
    </tr>
    <tr>
      <td>Extender</td>
      <td>A card which helps your deck continue playing after its combo is already started (a card CAN be both a starter and an extender)</td>
    </tr>
    <tr>
      <td>Handtrap</td>
      <td>A card which is used from the hand to disrupt an opponents plays</td>
    </tr>
    <tr>
      <td>Engine Requirement</td>
      <td>AKA "Brick" or "Garnet" this is a card which serves no direct purpose, but is required in order to make use of another card in the deck</td>
    </tr>
    <tr>
      <td>Board Breaker</td>
      <td>A card which is meant to break up an opponents end board, usually when you are going second</td>
    </tr>
    <tr>
      <td>Engine</td>
      <td>Any card which helps further your own game plan, also any in-archetype searchable disruptions</td>
    </tr>
    <tr>
      <td>Non-Engine</td>
      <td>Any card which hinders your opponents game plan</td>
    </tr>
  </table>
</div>

<form [formGroup]="fg">
  <div formArrayName="deck" class = "form-group" *ngFor="let card of deck.controls; let ind = index;">

    <div [formGroupName]="ind" class="entryRecord">
      <label class="cardentry">Card Name:
        <input type="text" formControlName="cardname">
      </label>
      <label class="cardentry">Quantity:
         <input type="number" formControlName="cardquantity">
      </label>
      <label class="cardentry">Starter?:
        <input type="checkbox" formControlName="starter">
      </label>
      <label class="cardentry">Extender?:
        <input type="checkbox" formControlName="extender">
      </label>
      <label class="cardentry">Hand Trap?:
        <input type="checkbox" formControlName="handtrap">
      </label>
      <label class="cardentry">Engine Requirement?:
        <input type="checkbox" formControlName="enginereq">
      </label>
      <label class="cardentry">Board Breaker?:
        <input type="checkbox" formControlName="boardbreaker">
      </label>
      <label class="cardentry">Engine or Non-Engine:
        <select formControlName="engine_or_nonengine">
          <option *ngFor="let opt of engine" value={{opt}}>{{opt}}</option>
        </select>
      </label>
    </div>
  </div>
  <br />
  <button id="newRow" (click) = "AddNewRow($event.target)">Add Another Card</button>
  <button id="submit" (click)="onSubmit($event.target)">Analyze Deck</button>
</form>
<br />
<label>
  Results:
  <br />
  <label>
    <table>
      <tr>
        <th>Starters Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Starters in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of starterResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Starter</td>
        <td>{{at_least_one_starter}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Starters Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Starters in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of starterResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Starter</td>
        <td>{{at_least_one_starter2}}</td>
      </tr>
    </table>
  </label>

  <label>
    <table>
      <tr>
        <th>Extenders Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Extenders in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of extenderResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Extender</td>
        <td>{{at_least_one_extender}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Extenders Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Extenders in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of extenderResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Extender</td>
        <td>{{at_least_one_extender2}}</td>
      </tr>
    </table>
  </label>

  <br />
  <br />

  <label>
    <table>
      <tr>
        <th>Handtraps Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Handtraps in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of handtrapResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Handtrap</td>
        <td>{{at_least_one_handtrap}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Handtraps Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Handtraps in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of handtrapResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Handtrap</td>
        <td>{{at_least_one_handtrap2}}</td>
      </tr>
    </table>
  </label>

  <label>
    <table>
      <tr>
        <th>Engine Requirements Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Engine Requirements in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of enginereqResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Engine Requirement</td>
        <td>{{at_least_one_enginereq}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Engine Requirements Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Engine Requirements in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of enginereqResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Engine Requirement</td>
        <td>{{at_least_one_enginereq2}}</td>
      </tr>
    </table>
  </label>

  <br />
  <br />

  <label>
    <table>
      <tr>
        <th>Board Breakers Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Board Breakers in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of boardbreakerResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Board Breaker</td>
        <td>{{at_least_one_boardbreaker}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Board Breakers Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Board Breakers in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of boardbreakerResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Board Breaker</td>
        <td>{{at_least_one_boardbreaker2}}</td>
      </tr>
    </table>
  </label>

  <label>
    <table>
      <tr>
        <th>Engine Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Engine in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of engineResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Engine</td>
        <td>{{at_least_one_engine}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Engine Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Engine in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of engineResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Engine</td>
        <td>{{at_least_one_engine2}}</td>
      </tr>
    </table>
  </label>

  <br />
  <br />

  <label>
    <table>
      <tr>
        <th>Non-Engine Going First:</th>
      </tr>
      <tr>
        <th>Exact # of Non-Engine in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of nonengineResults">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Non-Engine</td>
        <td>{{at_least_one_nonengine}}</td>
      </tr>
    </table>
  </label>
  <label>
    <table>
      <tr>
        <th>Non-Engine Going Second:</th>
      </tr>
      <tr>
        <th>Exact # of Non-Engine in Opening</th>
        <th>%Chance of Occurrence</th>
      </tr>
      <tr *ngFor="let results of nonengineResults2">
        <td *ngFor="let field of results">{{field}}</td>
      </tr>
      <tr>
        <td>At Least One Non-Engine</td>
        <td>{{at_least_one_nonengine2}}</td>
      </tr>
    </table>
  </label>
</label>

<router-outlet />
